.home_page_photo {
    width: 25vh !important;
    height: 25vh !important;
    border-radius: 40% !important;
}

/* Home page pagination */
.pager .active a {
    background-color: #000000;
    color: #ffffff;
}

.pager .active a:hover {
    background-color: #000000 !important;
    color: #ffffff;
}

